name: CI/CD Pipeline

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
     - name: Checkout Code
       uses: actions/checkout@v3

     - name: Build Docker Image
       run: |
         cd docker
         docker build -t my-web-site .

     - name: Run Unit Test (Check if index.html exists)
       run: |
         if [ -f "docker/index.html" ]; then
           echo "Success: index.html exists."
         else
           echo "Error: index.html missing!"
           exit 1
         fi

     - name: Log in to Docker Hub
       uses: docker/login-action@v2
       with:
         username: ${{ secrets.DOCKER_USERNAME }}
         password: ${{ secrets.DOCKER_PASSWORD }}

     - name: Build and Push to Docker Hub
       run: |
         docker build -t ${{ secrets.DOCKER_USERNAME }}/my-devops-site:latest ./docker
         docker push ${{ secrets.DOCKER_USERNAME }}/my-devops-site:latest


