name: CI/CD Pipeline

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
     - name: Checkout Code
       uses: actions/checkout@v3

     - name: Build Docker Image
       run: |
         cd docker
         docker build -t my-web-site .

     - name: Run Unit Test (Check if index.html exists)
       run: |
         if [ -f "docker/index.html" ]; then
           echo "Success: index.html exists."
         else
           echo "Error: index.html missing!"
           exit 1
         fi

